In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon

df = pd.read_csv('dataset_final.csv')

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df.describe()

# Hay 800 pokemon

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
type1 = df.groupby('Type 1')['Name'].count().sort_values(ascending=False)
type1

#Hay 28 pokemones de tipo Poison

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
type1.count()

18

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
'''


'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)

Water
'''

'\n2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)\n\nWater\n'

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?

DeoxysSpeed Forme
'''
df.sort_values('Speed', ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
df[df['Defense'] >= 100]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df[df['Speed'] > 100]

df[(df['Speed'] > 100) & (df['Defense'] >= 100)]['Name'].count()

12

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
d = pd.DataFrame(df[df['Type 1'] == 'Water'])
d.head()

#PREGUNTAR, ENUNCIADO NO QUEDA CLARO

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary = df['Legendary'] == True

legend = pd.DataFrame(df[legendary])
legend.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
no_legend = df[df['Legendary'] == False]

no_legend.describe()

#No legendarios:
#67.182313	75.669388	71.559184	68.454422	68.892517	65.455782

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [14]:
legend.describe()

#Legendario:
#92.738462	116.676923	99.661538	122.184615	105.938462	100.184615

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,144.000000,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,381.000000,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,483.000000,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,642.000000,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,721.000000,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [15]:
legend.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [107]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
pd.DataFrame([[67.182313,75.669388,71.559184,68.454422,68.892517,65.455782], [92.738462,116.676923,99.661538,122.184615,105.938462,100.184615]], columns=['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed'], index=['No Legendary', 'Legendary'])

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
No Legendary,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
Legendary,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [164]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no
'''
df['Doble tipo'] = (df['Type 1'].notna()) & (df['Type 2'].notna())
df.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,True
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,True
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,True
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,True
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,True

In [147]:
df.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [174]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
es_doble_tipo = df['Doble tipo'] == True
df[es_doble_tipo].sort_values(['Type 1', 'Type 2', 'Name'])[['Name', 'Type 1', 'Type 2']]

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [ ]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

def precio_total(articulos, compras):
    precios = list(map(lambda item: articulos.get(item), compras))
    return reduce(lambda prev, actual: prev + actual, precios)

# B. Una función que calcule el precio total de la compra con un descuento del 10%

def descuento_10(articulos, compras):
    total = precio_total(articulos, compras)
    descuento = total * 0.1
    return total - descuento

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def mayor_a_100(articulos, compras):
    if precio_total(articulos, compras) > 100:
        return descuento_10(articulos, compras)
    else:
        return precio_total(articulos, compras)
        
# D. Una función que calcule el precio total aplicando el IVA (21%)

def aplica_iva(articulos, compras):
    total = precio_total(articulos, compras)
    impuesto = total * 0.21
    return total + impuesto

aplica_iva(articulos, compra)

# E.lista los artículos cuyo precio es superior a 20€

def superior_a_70(articulos):
    return list(filter(lambda articulo: articulos.get(articulo) > 20, articulos))

superior_a_70(articulos)

In [78]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def promedio(notas):
    return reduce(lambda prev, actual: prev + actual, notas) / len(notas)


def boletin_por_grado(curso, alumnos=alumnos):
    
    if curso == '1' or curso == '2':
        seleccion = list(filter(lambda alumno: alumno[2] == curso, alumnos))
        
        lista_alumnos = list(map(lambda alumno: list(alumno), seleccion))

        list(map(lambda alumno: alumno.append(promedio(alumno[3])), lista_alumnos))

        list(map(lambda alumno: alumno.remove(alumno[3]), lista_alumnos))

        return lista_alumnos
    else:
        return None
            

boletin_por_grado('1')

[['Juan', 'Pérez', '1', 7.0],
 ['Luis', 'González', '1', 7.0],
 ['Pedro', 'Rodríguez', '1', 7.0],
 ['Marta', 'López', '1', 7.0],
 ['Javier', 'Sánchez', '1', 7.0],
 ['Sergio', 'Jiménez', '1', 7.0],
 ['Pablo', 'Álvarez', '1', 7.0]]